<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686807375584-lt3orjmfilha55fn94v3p4d042e72vpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686807375584-lt3orjmfilha55fn94v3p4d042e72vpr</string>
	<key>API_KEY</key>
	<string>AIzaSyCp4EciD5VNvUhKyfN3TZ_QfMEEddebkfU</string>
	<key>GCM_SENDER_ID</key>
	<string>686807375584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minjae.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-6ae90</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-6ae90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686807375584:ios:8056f95a89ccaf4796fa85</string>
</dict>
</plist>